.search-barCont {
  display: flex;
  justify-content: center;
}

.searchBar {
  width: 95%;
  height: 2.5rem;
  border-radius: 5px;
  margin: 0.5rem auto;
}

.elementsCat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: #4167af;
  border: none;
  padding: 0 1rem;
}

.elementsCat-2 {
  background: #3d60a2;
}

.elementsCat-4 {
  background: #3d60a2;
}

.elementsCat-6 {
  background: #3d60a2;
}

.elementsCat-8 {
  background: #3d60a2;
}

.elementsCat-10 {
  background: #3d60a2;
}

.elementsCat-12 {
  background: #3d60a2;
}

.elementsCat-14 {
  background: #3d60a2;
}

.elementsCat-16 {
  background: #3d60a2;
}

.elementsCat-18 {
  background: #3d60a2;
}

.elementsCat-20 {
  background: #3d60a2;
}

.catInfo {
  width: 50%;
}

.catImg {
  width: 8rem;
  height: 10rem;
  border-radius: 20px;
  object-fit: fill;
  border: 5px solid white;
  margin: 3px;
}
